body {
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
button {
    background: transparent;
    border: 0.1em white;
}
i {
  margin-left: 1.2rem;
  color: #c2cbce;
}
.fa {
  color: #c2cbce;
  cursor: pointer;
}
.topnav {
    background-color: white;
    display: flex;
    flex: 1;
}
.topnav .left-topnav {
    float: left;
    width: 37%;
}
.topnav .left-topnav .side-heading-font {
    font-family: 'sans-serif';
    font-size: 0.8rem;
    color: #8a8d8e; 
}
.topnav .left-topnav input[type="text"] {
    background: transparent;
    border: none;
    width: 3rem;
    color: #979ea0;
}
.topnav .center-topnav {
    text-align: center;
    width: 28%;
}
.topnav .center-topnav .heading-font {
    font-family: 'Kaushan Script';
    font-size: 1.2rem;
    color: #1370f9;
    }
.topnav .right-topnav {
    width: 35%;
}
.topnav .right-topnav .profile-pic {
    width: 2rem;
    height: 2.2rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    vertical-align: middle;
    float: right;
    }
.topnav .right-topnav .profile-font {
padding-left: 0.7rem;
padding-top: 1rem;
font-size: 0.8rem;
color: #8a8d8e; 
float: right;
}
.topnav .right-topnav .options {
    background: transparent;
    float: right; 
    margin-left: 0.5rem;
    margin-top: 0.8rem;
}
.topnav .right-topnav .notifications {
    background: transparent;
    float: right; 
    margin-left: 0.6rem;
    margin-top: 0.5rem;
}
.topnav .right-topnav .notifications .alert-dot {
    height: 8px;
    width: 8px;
    background-color: #2eb6e8;
    border-radius: 60%;
    display: inline-block;
    margin-bottom: 12px;
    position: relative;
    left: -7px;
    top: 2px;
}
.flex-grid {
    display: flex;
    flex: 1;
}
.page-header {
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.page-header .left-heading {
    text-align: center;
}
.page-header .left-heading .team-icon {
    width: 2.5rem; 
    vertical-align: middle;
    margin-top: 0.4rem;
}
.page-header .left-heading .team-font {
    font-size: 0.9rem;
}
.tab-button {
    margin-bottom: 0.5rem;
    width: 12rem;
    text-align: center;
    height: 2.5rem;
    border: 0.1rem solid #e7e7e7;
    color: black;
    background-color: white;
    font-size: 1rem;
    cursor: pointer;
}
.members-button {
    margin-right: 4rem;
}
.active {
    background-color: white;
    color: black;
    font-size: 0.9rem;
}
.inactive {
    background-color: #f2f2f2;
    color: black;
    font-size: 0.9rem;
    color: #8a8d8e;
}
.page-header .right-heading {
    float: right;
}
.page-header .right-heading .options-button {
    margin: 0rem;
    display: block;
    border: 0.1rem solid #e7e7e7;
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
    margin-top: 0.4rem;
    float: right; 
}
.page-header .right-heading .menu-button {
    background: white;
    margin: 0rem;
    display: block;
    border: 0.1rem solid #e7e7e7;
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
    margin-top: 0.4rem;
    float: right; 
}
.page-header .right-heading .filter-button {
    padding-right: 0.8rem;
    padding-left: 0.5rem;
    margin-top: 0.9rem;
    float: right; 
}
.row {
    margin: 0 -0.2rem;
    background-color: #f2f2f2;  
}  
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 25%;
    padding: 0.5rem 0.5rem;
}
.column .card {
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2); 
  text-align: center;
  background-color: white;
  padding-top: 0.8rem;
  height: 20rem;
  overflow: hidden;
}
.empty-card { 
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2); 
  text-align: center;
  background-color: white;
  padding-top: 0.8rem;
  height: 20rem;
  overflow: hidden; 
  padding-bottom: 4.5rem;
}
.column .card .image{
    text-align: center;
}
.column .card .content {
    margin-top: 0rem;
}
.card .notification-dot-1 {
  height: 8px;
  width: 8px;
  background-color: #2eb6e8;
  border-radius: 60%;
  display: inline-block;
  position: relative;
  left: -68px;
  top: -13px;
}
.card .notification-dot-2 {
  height: 8px;
  width: 8px;
  border-radius: 60%;
  display: inline-block;
  position: relative;
  left: -30px;
  top: -25px;
}
.card .heading {
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.card .sub-heading {
    color: grey;
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 25px;
}
.card .icon {
    margin-left: 25px;
    margin-right: 25px;
}
.card img.display-pic {
width: 70px; 
}
.empty-card img.empty-pic {
    width: 70px;
    padding-top: 80px; 
}
.empty-card img.add-profile {
    width: 50px;
    float: right;
    position: absolute;
    margin-top: 48px;
    margin-left: 120px; 
}
.card .graph {
    width: 150px;
    float: left;
    padding-left: 25px;
    padding-top: 20px;
}
.card .graph1 {
    width: 150px;
    float: left;
    padding-left: 25px;
}
.card .straight-line {
    width: 150px;
    float: left;
    padding-left: 25px;
    padding-top: 10px;
}
.card .action-button {
    display: inline-block;
    width: 40%;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.card .action-button .button-font {
    font-family: 'sans-serif';
    font-size: 0.7rem;
    color: #8a8d8e; 
    margin-left: 0.7rem;
}
.card .circle-icon {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    line-height: 73px;
    margin: auto;
    text-align: center;
}
.card .circle-icon.circle-icon-1 {
    background: #c5d9f9;   
}
.card .circle-icon.circle-icon-2 {
    background: #fcd1d1;
}
.card .circle-icon.circle-icon-3 {
    background: #fff2c9;
}
.card .circle-icon.circle-icon-4 {
    background: #ccfcdd;
}

@media screen and (max-width: 710px) {
    [class*="column"] {
        width: 50%;
    }
    .topnav .left-topnav input[type="text"] {
        width: 2.6rem;
    }
    .tab-button {
        width: 8rem;
        margin-right: 0rem;
    }
    .members-button {
        width: 8rem;
    }
}
@media screen and (max-width: 588px) {
    [class*="column"] {
        width: 50%;
    }
    .tab-button {
        width: 5rem;
        margin-right: 0rem;
    }
    .members-button {
        width: 5rem;
    }
    .inactive {
        font-size: 0.7rem;
    }
    .active {
        font-size: 0.7rem;
    }
    .page-font {
            font-size: 0.7rem;
            }
    .heading-font {
        font-size: 1rem;
    }
    .profile-font {
        font-size: 0.7rem;
    }
    .team-font {
        font-size: 0.8rem;
    }
    .button-font {
        font-size: 0.6rem;
    }
    ::placeholder {
        font-size: 0.7rem;
    }
    .profile-pic {
        width: 1.5rem;
        height: 2.2rem;
    }
}

@media screen and (max-width: 520px) {
    [class*="column"] {
        width: 100%;
    }
    .topnav .left-topnav input[type="text"] {
        display: none;
    }
    .profile-font, .team-font {
        display: none;
    }
    i {
        margin-left: 0.4rem; 
    }
}
