.topnav {
    background-color: white;
}
i {
  margin-right: 0.7rem;
  margin-left: 1.2rem;
  color: #c2cbce;
}
input[type="text"]
{
    background: transparent;
    border: none;
    width: 29rem;
    color: #979ea0;
}
.vertical-line {
    border-left: 0.05rem solid #c2cbce;
    height: 3rem;
    position: absolute;
    right: 3.5%;
    top: 0;
}
.fa {
  color: #c2cbce;
  cursor: pointer;
}
.a {
font-family: 'sans-serif';
font-size: 0.8rem;
color: #8a8d8e; 
}
.b {
font-family: 'Kaushan Script';
font-size: 1.2rem;
color: #1370f9;
}
.c {
padding-left: 0.7rem;
font-size: 0.8rem;
color: #8a8d8e; 
}
.d {
font-size: 0.9rem;
}
.e {
font-family: 'sans-serif';
font-size: 0.7rem;
color: #8a8d8e; 
margin-left: 0.7rem;
}
button {
    background: transparent;
    border: 0.1em white;
    float: right; 
    margin-left: 0.7rem;
}
button[type="btn1"] {
    background: transparent;
    float: right; 
    margin-left: 0.5rem;
    margin-top: 0.8rem;
}
button[type="btn2"] {
    background: transparent;
    float: right; 
    margin-left: 0.6rem;
    margin-top: 0.5rem;
}

button[type="button1"] {
    margin: 0rem;
    display: block;
    border: 0.1rem solid #e7e7e7;
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
    margin-top: 0.4rem;
}
button[type="button2"] {
    background: white;
    margin: 0rem;
    display: block;
    border: 0.1rem solid #e7e7e7;
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
    margin-top: 0.4rem;
}
button[type="button3"] {
    padding-right: 0.8rem;
    padding-left: 0.5rem;
    margin-top: 0.9rem;
}

.pic {
width: 2rem;
height: 2.2rem; 
margin-left: 21rem;
margin-bottom: 0.5rem;
vertical-align: middle;
}
.blue {
width: 2.5rem; 
vertical-align: middle;
margin-top: 0.4rem;
}

.center {
    background-color:#f2f2f2;
    padding: 0.7rem;
}
.button {
    background-color: #f2f2f2;
    color: black;
    border: 0.1rem solid #e7e7e7;
    padding: 0.9rem 0.9rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.1rem 0.05rem;
    cursor: pointer;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.btn {
    margin: 0rem;
    margin-right: 20.5rem;
    width: 12rem;
    height: 2.5rem;
    border: 0.1rem solid #e7e7e7;
    color: black;
    background-color: white;
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
}
.buton {
    margin: 0rem;
    margin-bottom: 0.2rem;
    width: 12rem;
    height: 2.5rem;
    border: 0.1rem solid #e7e7e7;
    color: black;
    background-color: white;
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
}

.success {
    background-color: white;
    color: black;
    font-size: 0.9rem;
}
.info {
    background-color: #f2f2f2;
    color: black;
    font-size: 0.9rem;
    color: #8a8d8e;
}
.dot {
  height: 8px;
  width: 8px;
  background-color: #2eb6e8;
  border-radius: 60%;
  display: inline-block;
  margin-bottom: 12px;
  position: relative;
  left: -7px;
  top: 2px;
}
.dot1 {
  height: 8px;
  width: 8px;
  background-color: #2eb6e8;
  border-radius: 60%;
  display: inline-block;
  position: relative;
  left: -68px;
  top: -13px;
}
.dot2 {
  height: 8px;
  width: 8px;
  background-color: #2eb6e8;
  border-radius: 60%;
  float: left;
  display: inline-block;
  margin-left: 185px;
  position: relative;
  left: -60px;
  top: -18px;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  float: left;
  width: 25%;
  padding: 0.5rem 0.5rem;
}

.row {
  margin: 0 -0.2rem;
  background-color: #f2f2f2;  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2); 
  text-align: center;
  background-color: white;
  padding-bottom: 3.2rem;
  padding-top: 0.8rem;
}
.empty-card {
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2); 
  text-align: center;
  background-color: white;
  padding-bottom: 5rem;
  padding-top: 0.8rem;
}

.design {
    color: grey;
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 25px;
}
img.pro-pic {
width: 70px; 
}
.add-pic {
width: 70px;
padding-top: 80px; 
}
.circular-pic {
width: 35px;
float: right;
padding-top: 60px;
}
.graph {
width: 150px;
float: left;
padding-left: 25px;
padding-top: 20px;
}
.graph1 {
width: 150px;
float: left;
padding-left: 25px;
}
.line {
width: 150px;
float: left;
padding-left: 25px;
padding-top: 10px;
}
a {
margin-left: 10px;
margin-right: 10px;
color: black;
}
button[type="block"] {
    display: inline-block;
    width: 40%;
    margin-left: 10px;
    margin-right: 20px;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.circle-icon1 {
    background: #c5d9f9;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    line-height: 73px;
    margin-left: 120px;
}
.circle-icon2 {
    background: #fcd1d1;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    line-height: 73px;
    margin-left: 120px;
}

.circle-icon3 {
    background: #fff2c9;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    line-height: 73px;
    margin-left: 120px;
}
.circle-icon4 {
    background: #ccfcdd;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    line-height: 73px;
    margin-left: 120px;
}
.chart {
  background: white;
  width: 300px;
  height: 100px;
  padding: 20px 20px;
}
@media screen and (max-width: 768px) {
    [class*="column"] {
        width: 50%;
    }
    .btn {
        margin-right: 4.2rem;
    }
    input[type="text"] {
        width: 12rem;
    }
    .pic {
        margin-left: 7rem;
    }
    .vertical-line {
        right: 5%; 
    }
}
@media screen and (max-width: 320px) {
    [class*="column"] {
        width: 100%;
    }
input[type="text"] {
    background: transparent;
    border: none;
    width: 120px;
    color: #979ea0;
}
i {
  margin-right: 5px;
  margin-left: 5px;
  color: #c2cbce;
  margin-bottom: 10px;
}
.pic {
width: 2rem;
height: 2.2rem; 
margin-left: 0.5rem;
margin-bottom: 0.5rem;
vertical-align: middle;
}
.blue {
    width: 2.5rem; 
    vertical-align: middle;
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
    }
button[type="block"] {
    display: inline-block;
    width: 30%;
    margin-left: 5px;
    margin-right: 35px;
    padding: inherit;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
button {
    background: transparent;
    border: 0.1em white;
    float: right; 
    margin-left: 0.7rem;
}
.btn {
    margin-right: 2.5rem;
    width: 6rem;
    height: 2rem;
    border: 0.1rem solid #e7e7e7;
    color: black;
    font-size: 0.8rem;
    cursor: pointer;
    display: inline-block;
}
.buton {
    margin-bottom: 0.2rem;
    width: 6rem;
    height: 2rem;
    border: 0.1rem solid #e7e7e7;
    color: black;
    background-color: white;
    font-size: 0.8rem;
    cursor: pointer;
    display: inline-block;
}
.d {
    font-size: 0.8rem;
    }
}



