body {
  font-family: sans-serif;
}

.box-shadow {
  box-shadow: 0px 1px #E4E4E4;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline {
  display: inline;
}

.pointer {
  cursor: pointer;
}

.topnav {
  background-color: #1879d2;
  display: flex;
  height: 40px;
  width: auto;
}
.topnav .center-topnav {
  text-align: center;
  padding-top: 5px;
}
.topnav .center-topnav .search {
  color: #1879d2;
  float: left;
  height: 31px;
  padding: 0px 10px;
  background: #cfe4f9;
  border: none;
  cursor: pointer;
}
.topnav .center-topnav input[type=text] {
  background-color: #cfe4f9;
  border-color: transparent;
  width: 20rem;
  height: 25px;
}
.topnav .left-topnav {
  float: left;
  margin-left: 5px;
  margin-top: 12px;
  width: 40%;
}
.topnav .left-topnav .todo {
  color: white;
}

.container {
  display: flex;
}

.left-sidebar {
  flex: 0 20%;
  background-color: #f3f3f3;
  overflow-x: hidden;
  height: -webkit-fill-available;
}
.left-sidebar .icon {
  background: transparent;
  margin-right: 5px;
  vertical-align: middle;
}
.left-sidebar .left-sidebar-font {
  color: #3b3b3b;
  font-size: 12px;
}
.left-sidebar .bars {
  margin-top: 20px;
  margin-bottom: 20px;
}
.left-sidebar .menu {
  margin-top: 5px;
  margin-bottom: 5px;
}
.left-sidebar .new-menu {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 15px;
}
.left-sidebar .list {
  margin-top: 30px;
}
.left-sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}
.left-sidebar .list-font {
  color: #1370f9;
  font-size: 12px;
}
.left-sidebar .my-list {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.flex-grid {
  display: flex;
  flex: 1;
}

.content {
  flex: 0 60%;
}
.content .left-content {
  float: left;
  margin-left: 2%;
  margin-top: 2%;
}
.content .mylist {
  color: #054997;
  font-size: 16px;
}
.content .list {
  color: #054997;
  font-size: 16px;
}
.content .right-content {
  float: right;
  margin-right: 2%;
  margin-top: 2%;
}
.content .icon {
  background: transparent;
  margin-right: 5px;
  vertical-align: middle;
  color: #054997;
}
.content .content-header {
  width: 65rem;
  height: 4rem;
}
.content .fa-star {
  float: right;
}
.content .task-detail {
  margin-left: 20px;
  margin-top: 10px;
}

.add-new-task, .add-task, .new-task, .menu {
  margin-left: 20px;
  margin-top: 10px;
}

.task-list {
  width: 47rem;
  height: 2rem;
  display: block;
  padding: 10px;
}

.button {
  border: none;
}

.task-input {
  background: transparent;
  border: none;
}

.starred {
  background: transparent;
  border: none;
  float: right;
}

.right-sidebar {
  flex: 0 20%;
  background-color: #f3f3f3;
  overflow: hidden;
}
.right-sidebar a {
  padding: 12px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}
.right-sidebar .menu {
  margin-top: 5px;
  margin-bottom: 5px;
}
.right-sidebar .icon {
  background: transparent;
  margin-right: 5px;
  vertical-align: middle;
  color: #818181;
}
.right-sidebar .right-sidebar-buttons-font {
  color: #7c7777;
  font-size: 12px;
}
.right-sidebar .right-sidebar-font {
  color: #000000;
  font-size: 14px;
  vertical-align: center;
}
.right-sidebar .description {
  width: 15rem;
  height: 6rem;
  background-color: white;
  margin: 7px;
}
.right-sidebar .add-to-day {
  width: 15rem;
  height: 3rem;
  background-color: white;
  margin: 7px;
}
.right-sidebar .options {
  width: 15rem;
  height: 9rem;
  background-color: white;
  margin: 7px;
}
.right-sidebar .note {
  width: 15rem;
  height: 4rem;
  background-color: white;
  margin: 7px;
}
.right-sidebar .bottom-line {
  width: 15rem;
  height: 2rem;
  background-color: white;
  margin: 7px;
  position: relative;
  top: 160px;
}
.right-sidebar .fa-circle-o {
  color: #1370f9;
}
.right-sidebar .fa-trash {
  float: right;
}
.right-sidebar .fa-arrow-circle-left {
  float: left;
}
.right-sidebar .fa-star-o {
  float: right;
  position: relative;
  top: -70px;
}
.right-sidebar .bottom-content {
  padding-left: 6px;
  padding-top: 6px;
  text-align: center;
}

/*# sourceMappingURL=todo.css.map */
