body {
    font-family: sans-serif;
    margin: 0px; 
}
.box-shadow{
    box-shadow: 0px 1px #E4E4E4;
}
.display-none {
    display: none;
} 
.display-block {
    display: block;
}
.display-inline {
    display: inline;
}
.pointer {
    cursor: pointer;
}
.topnav {
    background-color: rgb(24, 121, 210);
    display: flex;
    height: 40px;
    width: auto;

   .center-topnav {
        text-align: center;
        padding-top: 5px;
        .search {
            color: rgb(24, 121, 210);
            float: left;
            height: 31px;
            padding: 0px 10px;
            background: #cfe4f9;
            border: none;
            outline: none;
            cursor: pointer;
        }
        input[type="text"] {
            background-color: #cfe4f9;
            border-color: transparent;
            width: 20rem;
            height: 25px;
        }
    }
    .left-topnav {
        float: left;
        margin-left: 5px;
        margin-top: 12px;
        width: 40%;
        .todo {
            color: white; 
            margin-left: 5px;
            font-weight: 600;
            font-size: 15px; 
        }
    }
}
.container {
    display: flex;
}

.left-sidebar {
    flex: 0 20%;
    background-color: #f3f3f3;
    overflow-x: hidden;
    height: 36rem;
    .icon {
        background: transparent;
        margin-right: 5px;
        vertical-align: middle;
        font-size: 16px;
    }
    .left-sidebar-font {
        color: #3b3b3b;
        font-size: 14px;
    }
    .bars {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .menu {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .new-menu {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .list {
        margin-top: 30px;
    }
    a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
    }
    .list-font {
        color: #1370f9;
        font-size: 14px;
        margin-left: 6px;
    }
    .my-list {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .list-input {
        border: 1px solid #e6e3e3;
        outline: none;
        background: transparent;
        width: 10rem;
        height: 2rem;
    }
}

.flex-grid {
    display: flex;
    flex: 1;
}
.content {
    flex: 0 60%;
    .left-content {
        float: left;
        margin-left: 2%;
        margin-top: 2%;
    }
    .list-font {
        color: #1370f9;
        font-size: 14px;
    }
    .mylist {
        color: #1370f9;
        font-size: 16px;
        font-weight: 600;
        margin-right: 8px;
    }
    .list {
        color: #1370f9;
        font-size: 14px;
    } 
    .right-content {
        float: right;
        margin-right: 2%;
        margin-top: 2%;
    }
    .icon {
        background: transparent;
        margin-right: 5px;
        vertical-align: middle;
        color: #054997;
    }
    .content-header {
        width: 65rem;
        height: 4rem;
    }
    .fa-star-o, .fa-star {
        float: right;
    }
    .task-detail {
        margin-left: 4px;
        margin-top: 15px;
        height: 2rem;
        border-bottom: 1px solid #e6e3e3;
        display: block;
    }
    .fa-circle-o, .fa-plus {
        color: #1370f9;
        margin-right: 8px;
    }
    .add-button {
        border: none;
        outline: none;
        background: transparent;
        float: right;
    }
    .add-font {
        color: #1370f9;
        font-size: 12px;
        font-weight: 600;
    }
} 
.add-new-task, .add-task, .new-task {
    margin-left: 20px;
    margin-top: 10px;
}
.task-list {
    width: 64rem;
    height: 2rem;
    display: block;
    padding: 10px;
    padding-top: 20px;
    border-bottom: 1px solid #e6e3e3;
}
.button1 {
    border: none;
    outline: none;
}
.button2 {
    border: none;
    outline: none;
}
.task-input {
    background: transparent;
    border: none;
    outline: none;
    width: 42rem;
}
.starred {
    background: transparent;
    border: none;
    float: right;
}

.right-sidebar {
    flex: 0 20%;
    background-color: #f3f3f3;
    overflow: hidden;
    a {
        padding: 12px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
    }
    .menu {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .due-date {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .icon {
        background: transparent;
        margin-right: 5px;
        vertical-align: middle;
        color: #818181;
    }
    .right-sidebar-buttons-font {
        color: #7c7777;
        font-size: 12px;
    }
    .right-sidebar-font {
        color: #000000;
        font-size: 14px;
        vertical-align: center;
    }
    .description {
        width: 15rem;
        height: 6rem;
        background-color: white;
        margin: 7px;
    }
    .add-to-day {
        width: 15rem;
        height: 3rem;
        background-color: white;
        margin: 7px;
    }
    .options {
        width: 15rem;
        height: 9rem;
        background-color: white;
        margin: 7px;
    }
    .note {
        width: 15rem;
        height: 4rem;
        background-color: white;
        margin: 7px;
    }
    .bottom-line {
        width: 15rem;
        height: 2rem;
        background-color: white;
        margin: 7px;
        position: relative;
        top: 160px;
    }
    .fa-circle-o, .fa-plus {
        color: #1370f9;
        margin-right: 5px;
    }
    .fa-trash {
        float: right;
    }
    .fa-arrow-circle-left {
        float: left;
    }
    .bottom-content {
        padding-left: 6px;
        padding-top: 6px;
        text-align: center;
    }
    .text-area {
        resize: none;
    }
    .fa-calendar {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: inline-block;
    }
}